<h1 class="text-center text-4xl p-2">Listado de profesores</h1>
<a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="bg-gradient-to-r from-green-400 to-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none" >Regresar al dashboard</a>
<div class="md:container md:mx-auto">
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full shadow rounded-lg">
            <table class="min-w-full leading-normal bg-black">
                <thead class="">
                    <tr>
                        <th class="bg-black px-5 py-3 border-b-1 text-left text-xs text-white uppercase tracking-wider">
                            Nombre completo
                        </th>
                        <th class="bg-black px-5 py-3 border-b-1 text-left text-xs text-white uppercase tracking-wider">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of prodData">
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <p class="text-gray-900 whitespace-no-wrap">{{ item.nombre }} {{item.apellidos}}</p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <button
                                class="mr-1 inline-block p-2 text-center text-white transition bg-blue-500 rounded-full shadow ripple hover:shadow-lg hover:bg-blue-600 "
                                (click)="goToDetails(item.id)">
                                <span class="material-icons">
                                    info
                                </span>
                            </button>
                            <button
                            class="mr-1 inline-block p-2 text-center text-white transition bg-pink-500 rounded-full shadow ripple hover:shadow-lg hover:bg-pink-600 "
                            (click)="goToEdit(item.id)">
                            <span class="material-icons">
                               edit
                            </span>
                        </button>
                            <button
                                class="mr-1 inline-block p-2 text-center text-white transition bg-red-500 rounded-full shadow ripple hover:shadow-lg hover:bg-red-600 "
                                (click)="goToDelete(item.id)">
                                <span class="material-icons">
                                    delete
                                </span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>