
  


<div class="bg-black via-red-500 to-pink-500 min-h-screen overflow-auto">
  <div class="container max-w-5xl mx-auto px-4 ">
    <div class="w-full text-center">
      <h1 class="mt-32 text-white text-6xl font-bold">Control de:
        <span class="text-green-400 words word-1 blink_me" id="rotate">
            <span>...</span>
            <span>Laboratorios</span>
            <span>Asistencia</span>
            <span>Practicas</span>
            <span>Usuarios</span>
            <span>Alumnos</span>
        </span></h1>
    </div>
    <div class="w-full my-10 ml-6">
      <p class="text-gray-300 text-center">
        Diseñar y desarrollar un sistema de control de asistencia en laboratorios
        de cómputo, teniendo una verificacion de todas las actividades y asistencia de estudiantes y docentes en estos      
      </p>
    </div>
    <div class="hidden sm:block opacity-50 z-0">
      <div class="shadow-2xl w-96 h-96 rounded-full -mt-72"></div>
      <div class="shadow-2xl w-96 h-96 rounded-full -mt-96"></div>
      <div class="shadow-xl w-80 h-80 rounded-full ml-8 -mt-96"></div>
    </div>
    <div class="text-white relative">
      <h3 class="font-semibold text-6x1">Carreras</h3>
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-1 sm:gap-5 uppercase animated fadeDown">
        <div *ngFor="let item of carreras">
			<div class=" py-4 px-4" >
				<div class=" ">
					<a href="/donee/donee-2">
						<div class=" bg-opacity-40 shadow-xl gap-5 px-6 py-5  ring-cyan-700 mt-5 cursor-pointer hover:bg-blue-900 hover:rounded-lg hover:ring-2 hover:ring-offset-2 hover:bg-opacity-100 transition">
							<img src="{{item.urlImg}}" class="h-32 rounded-lg w-full object-cover">
							<div class="py-2 px-2">
								<div class=" font-bold font-title text-center">{{item.alias}}</div>

								<div class="text-sm font-light text-center my-2">{{item.nombre}}</div>
							</div>
						</div>
					</a>

				</div>
			</div>	
        </div>
      </div>
    </div>
  </div>
</div>
