<div class="md:container md:mx-auto mt-4">

    <div *ngIf="programas?.length === 0" class="text-center flex flex-wrap justify-center">
        <p>hola</p>
    </div>
    <div *ngIf="programas?.length > 0">
        <h1 class="text-center text-4xl p-2">Detalles del profesor:</h1>
        <div class="md:grid md:grid-cols-4 md:space-y-0 space-y-1 p-4 ">
            <div *ngFor="let item of dataProf">
                <p class="text-2xl"><b>Profesor: </b>{{item.nombre}} {{item.apellidos}}</p>
            </div>
            <p></p>
            <p></p>
            <p class="justify-self-end">
                <a [routerLink]="['/dashboard']"
                    class="w-full px-3 py-2 text-white bg-gradient-to-r from-green-400 to-blue-500 rounded-md focus:bg-indigo-600 focus:outline-none">Dashboard</a>
            </p>
        </div>
        <div>
            <h1 class="text-center text-2xl p-2">Progrmas asociadoos a este profeosr: </h1>
        </div>

        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
            <div class="inline-block min-w-full shadow rounded-lg">
                <table class="min-w-full leading-normal bg-black">
                    <thead class="">
                        <tr>
                            <th
                                class="bg-black px-5 py-3 border-b-1 text-left text-xs text-white uppercase tracking-wider">
                                Carrera
                            </th>
                            <th
                                class="bg-black px-5 py-3 border-b-1 text-left text-xs text-white uppercase tracking-wider">
                                Materia
                            </th>
                            <th
                                class="bg-black px-5 py-3 border-b-1 text-left text-xs text-white uppercase tracking-wider">
                                Ciclo
                            </th>
                            <th
                                class="bg-black px-5 py-3 border-b-1 text-left text-xs text-white uppercase tracking-wider">
                                Semestre
                            </th>
                            <th
                                class="bg-black px-5 py-3 border-b-1 text-left text-xs text-white uppercase tracking-wider">
                                Turtno
                            </th>
                            <th
                                class="bg-black px-5 py-3 border-b-1 text-left text-xs text-white uppercase tracking-wider">
                                Detalle
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of programas">
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <p class="text-gray-900 whitespace-no-wrap">{{ item.carreraNombre}}</p>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <p class="text-gray-900 whitespace-no-wrap">{{ item.materia}}</p>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <p class="text-gray-900 whitespace-no-wrap">{{ item.cicloNombre}}</p>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <p class="text-gray-900 whitespace-no-wrap">{{ item.semestreNombre}}</p>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <p class="text-gray-900 whitespace-no-wrap">{{ item.turnoValue}}</p>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <button
                                    class="mr-1 inline-block p-2 text-center text-white transition bg-blue-500 rounded-full shadow ripple hover:shadow-lg hover:bg-blue-600 "
                                    (click)="goToDetails(item.programaId)">
                                    <span class="material-icons">
                                        calendar_today
                                    </span>
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>