<div class="container max-w-6xl px-5 mx-auto my-28">
    <div class="flex felx-wrap grid gap-7 sm:grid-cols-2 lg:grid-cols-4 ">
        <div class="p-5 bg-white rounded shadow-lg hover:shadow-xl transition-shadow ease-out border border-blue-100">
            <div class="text-base text-gray-500 text-center text-2xl">Total de usuarios</div>
            <div class="items-center pt-1">
                <div class="text-2xl font-bold text-gray-900 text-center">{{usuarios}}</div>
                <div class="mb-2 text-base text-gray-400  text-center">Acciones</div>
                <a [routerLink]="['/usrnew']"
                    class="bg-gradient-to-r from-blue-300 to-blue-600 flex justify-center items-center w-full text-white py-1 rounded-md hover:bg-blue-200">Nuevo usuario</a>
            </div>
        </div>
        <div class="p-5 bg-white rounded shadow-lg hover:shadow-xl transition-shadow ease-out border border-blue-100">
            <div class="text-base text-gray-500 text-center text-2xl">Total de profeosres</div>
            <div class="items-center pt-1">
                <div class="text-2xl font-bold text-gray-900 text-center">{{profesores}}</div>
                <div class="mb-2 text-base text-gray-400  text-center">Acciones</div>
                <a [routerLink]="['/proflist']"
                    class="bg-gradient-to-r from-blue-300 to-blue-600 flex justify-center items-center w-full text-white py-1 rounded-md hover:bg-blue-200">Lista</a>
            </div>
        </div>
        <div class="p-5 bg-white rounded shadow-lg hover:shadow-xl transition-shadow ease-out border border-blue-100">
            <div class="text-base text-gray-500 text-center text-2x1">Total de administradores</div>
            <div class="items-center pt-1">
                <div class="text-2xl font-bold text-gray-900 text-center">{{administradores}}</div>
                <div class="mb-2 text-base text-gray-400  text-center">Acciones</div>
                <a href=""
                    class="bg-gradient-to-r from-blue-300 to-blue-600 flex justify-center items-center w-full text-white py-1 rounded-md hover:bg-blue-200">Lista</a>
            </div>
        </div>
    </div>
</div>