<div class="static">
  <div class="container max-w-6xl px-5 mx-auto mt-2">
    <h4 class="p-3 text-5xl font-dark font-bold text-gray-700 text-center">Edificios</h4>
    <div class="grid sm:grid-cols-none md:grid-cols-none lg:grid-cols-4 animated fadeDown ml-8">
      <div *ngFor="let item of edificiosData">
        <div>
          <div class=" mx-auto">
            <div class="flex items-center justify-center min-h-full mt-8">
              <div class="max-w-sm w-full px-3">
                <div class="bg-white shadow-xl rounded-lg overflow-hidden">
                  <div class="bg-cover bg-center h-56 p-4">
                    <img src="{{item.urlImg}}" alt="" class="h-full w-full">
                  </div>
                  <div class="p-4">
                    <!-- <p class="uppercase tracking-wide text-sm font-bold text-gray-700">Detached house • 5y old</p> -->
                    <p class="text-3xl text-gray-900">Edificio: {{item.nombre}}</p>
                    <!-- <p class="text-gray-700">742 Evergreen Terrace</p> -->
                  </div>
                  <div class="p-4 border-t border-gray-300 text-gray-700">
                    <div class="flex">
                      <div class="flex items-center w-full">
                        <span class="material-icons p-2">
                          maps_home_work
                        </span>
                        <p (click)="labs(item.edificioId)"><span class="text-gray-900 font-bold"></span> Laboratorios</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Slide bar-->
  <div class="absolute bottom-0 left-0 top-3">
    <nav class="flex flex-col bg-black w-64 h-screen px-4 tex-gray-900 position: absolute;">
      <div class="mt-10 mb-4 ">
        <ul class="ml-4">
          <p class="mb-2 px-4 py-4 text-gray-100 text-center">Formularios</p>
          <button [routerLink]="['/usrnew']"
            class="w-full inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-green-700 uppercase transition bg-transparent border-2 border-green-700 rounded ripple hover:bg-green-100 focus:outline-none">
            Nuevo Usuario
          </button>
          <p class="px-4 py-4 text-gray-100 text-center">Listas</p>
          <!-- <li
            class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
            <span class="material-icons fill-current h-5 w-5">
              admin_panel_settings
            </span>
            <a href="#">
              <span class="ml-2">Administradores</span>
            </a>
          </li> -->
          <li
            class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
            <span class="material-icons fill-current h-5 w-5">
              square_foot
            </span>
            <a [routerLink]="['/proflist']">
              <span class="ml-2">Profesores</span>
            </a>
          </li>
          <li
            class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
            <span class="material-icons fill-current h-5 w-5">
              person
            </span>
            <a [routerLink]="['/usrlist']">
              <span class="ml-2">Usuarios</span>
            </a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</div>