<!---Dashboard profesor-->


<div *ngIf="usrState==0">
    <form (ngSubmit)="insertData()" [formGroup]="profeForm" >
        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
            <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
              <div class="max-w-md mx-auto">
                <div class="flex items-center">
                  <div class="block font-semibold text-xl self-start text-gray-700">
                    <h2 class="leading-relaxed">Completa tu perfil de profesor para poder utilizar la herramienta</h2>
                  </div>
                </div>
                <div class="divide-y divide-gray-200">
                  <div class="py-4 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                    <div class="flex flex-col">
                      <label class="leading-loose">Nombre o nombres</label>
                      <input type="text" formControlName="nombre"
                        class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                        placeholder="Usuario"  />
                    </div>
                  </div>
                  <div class="py-4 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                    <div class="flex flex-col">
                      <label class="leading-loose">Apellidos</label>
                      <input type="text" formControlName="apellidos"
                        class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                        placeholder="Usuario"  />
                    </div>
                  </div>
                  <div class="pt-4 flex items-center space-x-4">
                    <button
                      class="bg-gradient-to-r from-green-400 to-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none"
                      type="submit">
                      Terminar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </form>
</div>
<div *ngIf="usrState==1" class="md:container md:mx-auto mt-4">
      <h1 class="text-center text-2xl p-2">Progrmas asociadoos: </h1>

  <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
    <p class="justify-self-end mb-5">
        <a [routerLink]="['/newprograma']" class=" px-3 py-2 text-white bg-gradient-to-r from-green-400 to-blue-500 rounded-md focus:bg-indigo-600 focus:outline-none">Nuevo programa</a>
    </p>
      <div class="inline-block min-w-full shadow rounded-lg">
          <table class="min-w-full leading-normal bg-black">
              <thead class="">
                  <tr>
                      <th
                          class="bg-black px-5 py-3 border-b-1 text-left text-xs text-white uppercase tracking-wider">
                          Carrera
                      </th>
                      <th
                          class="bg-black px-5 py-3 border-b-1 text-left text-xs text-white uppercase tracking-wider">
                         Materia 
                      </th>
                      <th
                          class="bg-black px-5 py-3 border-b-1 text-left text-xs text-white uppercase tracking-wider">
                          Ciclo
                      </th>
                      <th
                          class="bg-black px-5 py-3 border-b-1 text-left text-xs text-white uppercase tracking-wider">
                          Semestre
                      </th>
                      <th
                          class="bg-black px-5 py-3 border-b-1 text-left text-xs text-white uppercase tracking-wider">
                          Turtno
                      </th>
                      <th
                          class="bg-black px-5 py-3 border-b-1 text-left text-xs text-white uppercase tracking-wider">
                          Detalle
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of programas">
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                          <p class="text-gray-900 whitespace-no-wrap">{{ item.carreraNombre}}</p>
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                          <p class="text-gray-900 whitespace-no-wrap">{{ item.materia}}</p>
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                          <p class="text-gray-900 whitespace-no-wrap">{{ item.cicloNombre}}</p>
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                          <p class="text-gray-900 whitespace-no-wrap">{{ item.semestreNombre}}</p>
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                          <p class="text-gray-900 whitespace-no-wrap">{{ item.turnoValue}}</p>
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                          <button
                              class="mr-1 inline-block p-2 text-center text-white transition bg-blue-500 rounded-full shadow ripple hover:shadow-lg hover:bg-blue-600 "
                              (click)="goToDetails(item.programaId)">
                              <span class="material-icons">
                                  calendar_today
                              </span>
                          </button>
                      </td>

                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>